/* Header */

nav {
    width: 100%;
    text-align:center;
}
/* End header */
/* Aside */
/* End aside */

/* Body */
body{
    padding: 10px 85px 10px 85px;
}
#welcome-message{
    padding: 30px 85px 30px 85px;

}
#welcom-message P{
    text-decoration: none;
}
ol
{
    list-style-type: lower-alpha;
}
.mySlides {display:none;
}
table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
/*End Body */

/* Mobile responsiveness */
@media screen and (max-width: 600px){
    img{
        width: 20%;
    }
}

/* Aside */
/* End aside */

/* Aside */
/* End aside */